$red              :#F44336;
$pink             :#E91E63;
$purple           :#9C27B0;
$deep-purple      :#673AB7;
$indigo           :#3F51B5;
$blue             :#2196F3;
$light-blue       :#03A9F4;
$cyan             :#00BCD4;
$teal             :#009688;
$green            :#4CAF50;
$light-green      :#8BC34A;
$lime             :#CDDC39;
$yellow           :#FFEB3B;
$amber            :#FFC107;
$orange           :#FF9800;
$deep-orange      :#FF5722;
$brown            :#795548;
$grey             :#9E9E9E;
$gray             :#9E9E9E;
$blue-grey        :#607D8B;
$blue-gray        :#607D8B;
$asphalt          :#34495e;
$midnight-blue    :#2c3e50;
$green-sea        :#16a085;
$silver           :#bdc3c7;
$clouds           :#ecf0f1;
$cloud            :#ecf0f1;
$carrot           :#e67e22;
$pumpkin          :#d35400;
$gold             :#EBBD63;
$rose-gold        :#FDD09F;
$coffee           :#45362E;

$twitter          :#28A9E0;
$facebook         :#3B5998;
$googleplus       :#DC4A38;
$vimeo            :#1AB7EA;
